@charset "UTF-8";
@import url(reset.css);
@import url(iconfont.css);
.c1 {
  color: #f23030 !important; }

.c3 {
  color: #fe9402 !important; }

.c4 {
  color: #00c576 !important; }

.bg_c3 {
  background-color: #fe9402 !important; }

.bg_c4 {
  background-color: #00c576 !important; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff; }

.vv {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.cc {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.lockDiv {
  -webkit-background-size: cover;
  background-size: cover; }

hr {
  background-color: #f3f3f3; }

img {
  max-width: 100%; }

body, h1, h2, h3, h4 {
  font-size: 0.2rem;
  color: #000;
  line-height: 160%; }

.h5 {
  height: 0.05px; }

.h10 {
  height: .1rem; }

.h20 {
  height: .2rem; }

.h30 {
  height: .3rem; }

.h40 {
  height: .4rem; }

.h50 {
  height: .5rem; }

.iconfont {
  font-size: 0.25rem; }

/* main */
.head2 {
  background-color: #f5a41a;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 0.85rem;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 0 0.25rem; }
  .head2 i {
    font-size: .4rem; }
  .head2 .left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    color: #fff;
    font-size: .3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .head2 .left .iconfont {
      margin-right: 0.1rem;
      font-size: 0.4rem; }
    .head2 .left .location {
      max-width: 5em;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .head2 .left .icon-jiantouxiangxia {
      margin-left: 0.1rem;
      font-size: 0.3rem; }
  .head2 .middle {
    font-size: 0.3rem; }
  .head2 .right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    text-align: right; }

.wrap_main img {
  max-width: 100%; }

.wrap_main {
  position: absolute;
  left: 0;
  top: 0.85rem;
  right: 0;
  bottom: 1.3rem;
  margin: auto;
  overflow: auto; }

/*banner图高度*/
.m-slider {
  height: 3.2rem; }

.news_bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .1rem .2rem;
  border-bottom: 1px solid #ddd; }
  .news_bar .left {
    color: #2a88ff;
    margin-right: .2rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .news_bar .rollnotice-item a {
    width: 250px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; }

.cell1 {
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.8rem;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cell1 h2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: .28rem; }
  .cell1 i {
    font-size: .35rem;
    margin-right: .1rem; }

/*分类筛选*/
/* .filter_wrap{
	position: fixed;height: 100%;width: 100%;top: .85rem;left: 0;background-color: rgba(0,0,0,0.5);z-index: 2;
} */
.filter_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ddd; }
  .filter_header li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: .8rem; }
    .filter_header li:first-child {
      border-right: 1px solid #ddd; }
    .filter_header li span {
      margin-right: 0.3rem;
      font-size: .3rem; }

.task_list li {
  padding: .25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ddd; }
  .task_list li .left {
    margin-right: .3rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
    background-color: #f50;
    text-align: center;
    line-height: .8rem;
    color: #fff; }
  .task_list li .middle {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: .2rem; }

.task_cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .task_cont .tit {
    font-size: .28rem;
    font-weight: bold;
    margin-bottom: .1rem;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .task_cont .type, .task_cont .count_down {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: .1rem;
    overflow: hidden; }
  .task_cont .adr {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .task_cont .start_time {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    margin-bottom: .1rem; }

/*login*/
.head1 {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0.85rem;
  padding: 0 0.25rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .head1 i {
    font-size: .35rem; }
  .head1 .left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    font-size: .3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .head1 .left .iconfont {
      margin-right: 0.1rem; }
  .head1 .middle {
    font-size: 0.3rem; }
  .head1 .right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    text-align: right;
    font-size: .3rem; }

.cell2 {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: .8rem;
  border-bottom: 1px solid #ddd;
  padding: 0 .25rem; }
  .cell2 .left {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    font-size: .3rem; }
  .cell2 .middle {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .cell2 .middle input {
      border: none;
      width: 100%;
      font-size: .3rem; }
  .cell2 .right {
    margin-left: .2rem;
    color: #999; }

.btn2 {
  width: 80%;
  height: .8rem;
  margin: 0 auto;
  text-align: center;
  background-color: #ccc;
  line-height: .8rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: .3rem; }

.login_bottom {
  text-align: center; }

/*myTask*/
.statusList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1rem;
  border-bottom: 0.02rem solid #CCCCCC; }
  .statusList li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666666; }
  .statusList li.active {
    color: #2A88FF;
    border-bottom: 0.02rem solid #2A88FF; }

.mission li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem;
  border-bottom: 1px solid #DDDDDD;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mission li a .pic {
    width: 23%;
    margin-right: 0.2rem; }
  .mission li a .intro {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .mission li a .intro .local {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .mission li a .intro .local h4, .mission li a .intro .local span {
        font-size: 0.35rem;
        font-weight: bold; }
      .mission li a .intro .local span {
        color: red; }
    .mission li a .intro p {
      color: #666666;
      margin-top: 0.1rem; }
      .mission li a .intro p span {
        margin-right: 0.5rem; }
  .mission li a .arrowr {
    width: 9%;
    text-align: center; }

/*detail*/
.dutyIntro li {
  padding: 0.3rem;
  border-bottom: 1px solid #DDDDDD;
  font-size: 0.3rem; }
  .dutyIntro li .labels {
    color: #666666; }
  .dutyIntro li .dutyPrice {
    color: red; }

.assign {
  padding: 0.3rem 0; }
  .assign h4 {
    font-size: 0.35rem;
    font-weight: bold;
    border-left: 0.1rem solid #2A88FF;
    padding-left: 0.15rem;
    color: #2A88FF;
    margin: 0 0.2rem 0.2rem 0.2rem; }
  .assign p {
    margin: 0 0.3rem;
    line-height: 0.4rem;
    font-size: 0.3rem; }

.grayBar {
  height: 0.2rem;
  background: #f3f3f3; }

.picList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .picList img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.15rem 0.15rem 0; }

.meterial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem; }
  .meterial span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0.3rem; }

.files li {
  border-bottom: 1px solid #DDDDDD; }
  .files li:last-child {
    border-bottom: none; }

.files li a {
  padding: 0.2rem 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .files li a input {
    border: none;
    padding: 0.1rem 0.2rem;
    background: #2A88FF;
    color: white;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem; }

.footerFixed {
  position: fixed;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  border-top: 1px solid #DDDDDD;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footerFixed .icons {
    font-size: 0.4rem;
    color: #f5a41a; }
    .footerFixed .icons span {
      font-size: 0.5rem;
      margin: 0 0.2rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .footerFixed input {
    border: none;
    color: white;
    background: #2A88FF;
    padding: 0.3rem 0.7rem;
    font-size: 0.4rem; }

/*person*/
.personList li a {
  background: white;
  padding: 0.3rem 0.3rem 0.3rem 0.6rem; }
  .personList li a span i {
    font-size: 0.5rem;
    margin-right: 0.2rem;
    vertical-align: middle; }
  .personList li a span em {
    font-size: 0.3rem;
    vertical-align: middle; }
  .personList li a span .icon-renwu {
    color: #f5a41a; }
  .personList li a span .icon-qianbao, .personList li a span .icon-guanyuwomen {
    color: #0082E6; }

.personBox {
  background: #0190FE;
  padding: 0.4rem 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .personBox img {
    width: 1.8rem;
    height: 1.8rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 0.3rem; }
  .personBox p {
    color: white;
    font-size: 0.3rem;
    margin: 0.25rem 0; }
    .personBox p i {
      margin-right: 0.1rem; }
  .personBox .personName {
    font-size: 0.4rem; }
