@import "reset.css";
@import "iconfont.css";


$c1:#f23030;
$c2:#f3f3f3;
$c3:#fe9402;
$c4:#00c576;

.c1{color: $c1!important;}
.c3{color: $c3!important;}
.c4{color: $c4!important;}
.bg_c3{background-color: $c3!important}
.bg_c4{background-color: $c4!important}

$h_top:.85rem;
$h_foot:1rem;
$p25:0.25rem;

html,body{width:100%; height:100%;background-color: #fff; }
.vv{position: absolute; left: 0; top: 0; right: 0; bottom: 0;margin:auto;}
.cc{position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);}
.lockDiv{background-size: cover;}
hr{background-color: $c2;}
img{max-width: 100%;}
body,h1,h2,h3,h4{font-size: 0.2rem; color: #000; line-height: 160%;}
.h5{height: 0.05px}
.h10{height: .1rem}
.h20{height: .2rem}
.h30{height: .3rem}
.h40{height: .4rem}
.h50{height: .5rem}

.iconfont{font-size: 0.25rem;}



/* main */
.head2{
	background-color: #f5a41a; color: #fff; display: flex; align-items: center; justify-content: space-between; position: fixed; width:100%;  height: $h_top; left:0; top:0; z-index: 2; padding: 0 $p25;
	i{font-size: .4rem;}
	.left{
		flex:0 0 20%;color: #fff; font-size: .3rem; display: flex; align-items: center; 
		.iconfont{margin-right: 0.1rem; font-size: 0.4rem}
		.location{max-width: 5em;white-space: nowrap;overflow: hidden;-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;}
		.icon-jiantouxiangxia{margin-left: 0.1rem; font-size: 0.3rem}
	}
	.middle{font-size: 0.3rem; }
	.right{flex:0 0 20%; text-align: right;}
}

.wrap_main img{ max-width: 100%;}
.wrap_main{
	position: absolute; left: 0; top: $h_top; right: 0; bottom: 1.3rem;margin:auto; overflow: auto;
}

/*banner图高度*/
.m-slider{height: 3.2rem;}

.news_bar{
	display: flex;-ms-align-items: center;
	align-items: center;padding: .1rem .2rem;border-bottom: 1px solid #ddd;
	.left{color: #2a88ff;margin-right: .2rem;flex-shrink: 0;}
	.rollnotice-item{
		a{width: 250px;white-space: nowrap;-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;overflow: hidden;display: block;}
	}
}	

.cell1{
	border-bottom: 1px solid #eee;display: flex;height: 0.8rem;-ms-align-items: center;
	align-items: center;
	h2{flex: 1;font-size: .28rem;}
	i{font-size: .35rem;margin-right: .1rem;}
}

/*分类筛选*/
/* .filter_wrap{
	position: fixed;height: 100%;width: 100%;top: .85rem;left: 0;background-color: rgba(0,0,0,0.5);z-index: 2;
} */

.filter_header{
	display: flex;-ms-align-items: center;
	align-items: center;border-bottom: 1px solid #ddd;
	li{
		flex: 1;display: flex;-ms-align-items: center;
		align-items: center;justify-content: center;height: .8rem;
		&:first-child{border-right: 1px solid #ddd;};
		span{margin-right: 0.3rem;font-size: .3rem;}
	}
}

.task_list{
	
	li{
		padding: .25rem; display: flex;-ms-align-items: center;
		align-items: center;border-bottom: 1px solid #ddd;
		.left{margin-right: .3rem;border-radius: 50%;width: .8rem;height: .8rem;background-color: #f50;text-align: center;line-height: .8rem;color: #fff;}
		.middle{flex: 1;margin-right: .2rem;}
	}

}

.task_cont{
	display: flex;-ms-align-items: center;
	align-items: center;flex-wrap: wrap;
	.tit{font-size: .28rem;font-weight: bold;margin-bottom: .1rem;flex-basis: 100%;}
	.type,.count_down{flex-basis: 50%;margin-bottom: .1rem;overflow: hidden;}
	.adr{flex-basis: 20%;}
	.start_time{flex-basis: 80%;margin-bottom: .1rem;}
}

/*login*/
.head1{
	background-color: #fff;  display: flex; align-items: center;  height: $h_top;  padding: 0 $p25;justify-content: space-between;
	i{font-size: .35rem;}
	.left{
		flex:0 0 20%; font-size: .3rem; display: flex; align-items: center; 
		.iconfont{margin-right: 0.1rem;}
	}
	.middle{font-size: 0.3rem; }
	.right{flex:0 0 20%; text-align: right;font-size: .3rem;}
}
.cell2{
	background-color: #fff;display: flex;-ms-align-items: center;
	align-items: center;height: .8rem;border-bottom: 1px solid #ddd;padding: 0 .25rem;
	.left{flex-basis: 20%; font-size: .3rem;}
	.middle{
		flex: 1;
		input{border: none;width: 100%;font-size: .3rem;}
	}
	.right{margin-left: .2rem;color: #999;}
}

.btn2{width: 80%;height: .8rem;margin: 0 auto;text-align: center;background-color: #ccc;line-height: .8rem;border-radius: 5px;color: #fff;font-size: .3rem;}
.login_bottom{text-align: center;}
// 重置验证码发送按钮默认样式
.cell2{
     .btn{height: 0.5rem;}
     .btn-warning{background-color: #999;}
}

// 验证码,登录按钮点亮后激活样式
.cell2 .active2{background-color: #ffb400;}
.active2{background-color: #ffb400;}
// 密码输入正确前，禁止点击登录按钮样式
.btn2_disable{pointer-events:none;}


/*myTask*/
$borderb:1px solid #DDDDDD;
.statusList{
    display: flex;justify-content:center;align-items:center;height: 1rem;
    border-bottom: 0.02rem solid #CCCCCC;
    li{
        display: flex;flex:1;justify-content: center;height: 1rem;align-items: center;color: #666666;
    }
    li.active{
        color: #2A88FF;border-bottom: 0.02rem solid #2A88FF;
    }
}
.mission li a{
    display: flex;padding: 0.3rem;border-bottom: $borderb;align-items: center;
    .pic{
        width: 23%;margin-right: 0.2rem;
    }
    .intro{
        flex: 1;
        .local{
            display: flex;align-items:center; justify-content:space-between;
            h4,span{font-size: 0.35rem;font-weight: bold;}
            span{color: red;}
        }
        p{
            color: #666666;margin-top: 0.1rem;
            span{margin-right: 0.5rem;}
        }
    }
    .arrowr{width: 9%;text-align: center;}
}

/*detail*/
.dutyIntro li{
    padding: 0.3rem;border-bottom: $borderb; font-size: 0.3rem;  
    .labels{color: #666666;}
    .dutyPrice{color: red;}
}
.assign{
    padding: 0.3rem 0;
    h4{font-size: 0.35rem;font-weight: bold;border-left: 0.1rem solid #2A88FF;padding-left: 0.15rem;
    color: #2A88FF;margin:0 0.2rem 0.2rem 0.2rem;}
    p{margin: 0 0.3rem;line-height: 0.4rem;font-size: 0.3rem;}
}
.grayBar{height: 0.2rem;background: #f3f3f3;}
.picList{
    display: flex;padding: 0 0.3rem;flex-flow: row wrap;justify-content:space-between;
    img{display: flex;width: 1.5rem;height: 1.5rem;margin: 0 0.15rem 0.15rem 0;}
}
.meterial{
    display: flex;
    padding:  0.3rem; 
    span{flex: 1;justify-content:space-between;font-size: 0.3rem;}
}
.files li{
    border-bottom: $borderb;
    &:last-child{border-bottom:none;}
}
.files li a{
    padding: 0.2rem 0.3rem;display: flex;align-items: center;justify-content:space-between;
    input{border: none;padding: 0.1rem 0.2rem; background: #2A88FF;color: white;border-radius: 0.1rem;}
}
.footerFixed{
    position: fixed;left: 0;bottom: 0;display: flex;align-items: center;background: white;border-top: $borderb;
    width: 100%;justify-content:space-between;
    .icons{font-size: 0.4rem;color: #f5a41a;
        span{font-size: 0.5rem;margin:0 0.2rem;align-items: center;}
    }
    input{border: none;color: white;background: #2A88FF;padding:0.3rem 0.7rem;font-size: 0.4rem;}
}

/*person*/
.personList li a{
    background: white;padding: 0.3rem 0.3rem 0.3rem 0.6rem;
    span{
        i{font-size: 0.5rem;margin-right: 0.2rem;vertical-align: middle;}
        em{font-size: 0.3rem;vertical-align: middle;}
        .icon-renwu{color: #f5a41a;}
        .icon-qianbao,.icon-guanyuwomen{color: #0082E6;}
    }
}
.personBox{
    background: #0190FE;padding: 0.4rem 0.3rem;display: flex;align-items: center;
    img{width: 1.8rem;height: 1.8rem;border-radius: 50%;margin-right: 0.3rem;}
    p{color: white;font-size: 0.3rem;margin: 0.25rem 0;
        i{margin-right: 0.1rem;}
    }
    .personName{font-size: 0.4rem;}
}





