<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>美嘉优购</title>
    <link rel="stylesheet" href="css/ydui.base.css">
    <link rel="stylesheet" href="css/ydui.rem.css">
    <link rel="stylesheet" href="css/common.css">
  </head>
    <body>
        <div id="app" v-cloak > 
            <div class="head2">
                <a href="main.html" class="left">
                    <i class='iconfont icon-prev'></i>返回
                </a>
                <div class="middle">{{my.sort}}频道</div>
                <div class="right"><i class='iconfont icon-search'></i></div>
            </div>

            <div class="wrap_main">
                <ul class="shop_list">
                    <li  v-for="item in my.list">
                        <a class="thum" :href=" 'shop_detail.html?id='+item.id "><img :src="item.thum"></a>
                        <div class="cont">
                            <div class="tit">{{item.tit}}</div>
                            <div class="tit_sub">{{item.tit_sub}}</div>
                            <div class="month_sales">
                            <yd-rate v-model="item.rank" color="#ff9f2e" activeColor="#000fff" :readonly="true"></yd-rate>| 月售{{item.month_sales}}单
                            </div>
                            <div class="transit">{{item.transit}}</div>
                            <div class="coupon" v-if="item.flag"><span class="bg_c3 bg_c">领券</span><span>{{item.coupon}}</span><br><span class="bg_c4 bg_c">满减</span><span>{{item.coupon}}</span></div>

                            <div class="hot_list">
                                <sku v-for="sku in item.hot" :src="sku.src" :badge="sku.badge" :price="sku.price"></sku>
                            </div>
                        </div>
                    </li>
                </ul>

                <yd-infinitescroll :on-infinite="loadList" ref="infinitescrollDemo">
                    <span slot="doneTip">已到末尾</span>
                    <img slot="loadingTip" src="images/loading10.svg"/>
                </yd-infinitescroll>
            </div>
            
            <nav_foot :active="0"></nav_foot>
         </div>
    </body>
</html>

<script src="js/vue2.js"></script>
<script src="js/vue-resource1.3.js"></script>
<script src="js/ydui.js"></script>
<script src="js/ydui.flexible.js"></script>
<script src="js/common.js"></script>
<script>
var FILE = "data/hot_channel.json"      //本页基础渲染json
var call = Vue.http({method:'GET', url:FILE });

call.then(function (data) {
    var vm = new Vue({
      mixins: [mixin_common,mixin_infinite],
      el: '#app',
      mounted: function() {},
      methods:{
        searchH:function(e){
            console.log("搜索:",e);
        }
        
      },
      data: {
        my:data.body,
        json_pre:"data/shop_list.json" //要向下滚动无限加载时读取的json前缀
      }
    });
});

    
</script>