<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>文件列表</title>
    <style>
    body{padding: 10px;}
    table{ border-collapse: collapse; width: 100%; border: 1px #ccc solid;}
    td,th{border: 1px #ccc solid; padding:10px 5px; font-size: 12px;}
    td a{color: #666;}
    td:nth-child(1),td:nth-child(2){white-space: nowrap;}
    td.cut{height: 10px; padding: 0; background-color: #ccc;}

    tr.sub td{ background-color: #eee; }
    tr.sub td:first-child{ padding-left: 2em; }
    </style>
  </head>
  <body>
    <h1>兼职猫--修改</h1>
      <div id="app">
        <table v-cloak>
          <tr>
            <th>描述</th>
            <th>链接</th>
            <th>备注</th>
          </tr>
          <tr v-for="item in list" :class=" {'sub':item.sub} ">
            <template v-if="!item.cut">
              <td>{{item.tit}}</td>
              <td><a :href="item.url">{{item.url}}</a></td>
              <td>{{item.mark}}</td>
            </template>

            <template v-if="item.cut">
              <td colspan="3" class="cut"></td>
            </template>
          </tr>
        </table>
        
        <!-- <img src="http://qr.api.cli.im/qr?data=http%253A%252F%252F258754.cn%252F2017%252Fjyg%252F&level=H&transparent=false&bgcolor=%23ffffff&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&size=280&kid=cliim&key=c4b7e2a00c0469c64adbb3640348bf55"> -->

      </div>
  </body>
</html>

<script src="js/vue2.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/common.js"></script>
<script>
    var vm = new Vue({
      el: '#app',
      methods: {
          ddd:function(){
              console.log('ddd');
          }
      },
      data: {
        list:[
            {tit:"首页",url:"main.html",mark:""},
            {tit:"登录",url:"login.html",mark:""},
            
            
         
          ]
        }
    });

</script>