<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>我的任务</title>
    <link rel="stylesheet" href="css/ydui.base.css">
    <link rel="stylesheet" href="css/ydui.rem.css">
    <link rel="stylesheet" href="css/common.css">
  </head>
	<body style="background: white;">
		<div id="app" v-cloak > 
			<div class="head2">
                <a href="#" class="left"><i class='iconfont icon-xiangzuojiantou'></i>返回</a>
                <div class="middle">我的任务</div>
                <div class="right"></div>
            </div>
            <div class="wrap_main">
	            <ul class="statusList">
	            	<li v-for="(todo,index) in my.taskStatus" @click="addActive(index)" :class="{'active':index==current}">
				      {{ todo.text }}
				    </li>
	            </ul>
	            <ul class="mission">
	            	<li v-for="item in my.missionDetail" v-if="current==item.type">
	            		<a :href="item.url">
	            			<div class="pic"><img :src="item.src" /></div>
		            		<div class="intro">
		            			<div class="local"><h4>{{item.storeName}}</h4><span>{{item.price}}/单</span></div>
		            			<p>{{item.itemName}}</p>
		            			<p><span>{{item.address}}</span><span>{{item.time}}</span></p>
		            		</div>
		            		<div class="arrowr"><i class="iconfont icon-xiangyoujiantou"></i></div>
	            		</a>
	            	</li>
	            </ul>
            </div>
		</div>
		<script src="js/vue2.js"></script>
		<script src="js/vue-resource1.3.js"></script>
		<script src="js/ydui.js"></script>
		<script src="js/ydui.flexible.js"></script>
		<script src="js/common.js"></script>
		
		<script>
			var FILE = "data/myTask.json"
			var call = Vue.http({method:'GET', url:FILE });
			
			call.then(function (data) {
			//	console.log(data.body)
			    var vm = new Vue({
			      mixins: [mixin_common],
			      el: '#app',
			      mounted: function() {},
			
			      methods:{
			      	addActive:function(index){
			      		  this.current=index
			      	}
			      },
			      data: {
			        my:data.body,
			        current:0,
			      }
			    });
			});
		</script>
	</body>
</html>
