<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>上海风逊实地</title>
    <link rel="stylesheet" href="css/ydui.base.css">
    <link rel="stylesheet" href="css/ydui.rem.css">
    <link rel="stylesheet" href="css/common.css">
  </head>
    <body>
        <div id="app" v-cloak > 
            <div class="head1">
                <a href="#" class="left">
                    <i class='iconfont icon-xiangzuojiantou'></i>返回</a>
                <div class="middle">注册</div>
                <div class="right c1"></div>
            </div>
            <hr class="h20">
            <div class="cell2">
                <div class="left">手机号</div>
                <div class="middle">
                    <input type="text" placeholder="请输入手机号" v-model="phone" @input="check_phone">
                </div>
            </div>
            <div class="cell2">
                <div class="left">验证码</div>
                <div class="middle">
                    <input type="text" placeholder="请输入验证码" v-model="passcode" >
                </div>
                <div class="right">｜<span><yd-sendcode 
                        :class="{'active2':isPhone}"
                        slot="right" 
                         v-model="start1" 
                         @click.native="sendCode1" 
                         type="warning"
                         second="5"
                         runStr="{%s}秒后重新获取"
            resetStr="重新发送"
            ></yd-sendcode></span></div>
            </div>
            <div class="cell2">
                <div class="left">密码</div>
                <div class="middle">
                    <input type="password" placeholder="请输入新密码" v-model="passWord1">
                </div>
            </div>
            <div class="cell2">
                <div class="left">确认密码</div>
                <div class="middle">
                    <input type="password" placeholder="请再次输入密码" v-model="passWord2" @input="check_passWord2">
                </div>
            </div>

            <div class="h30"></div>

            <div class="btn2" :class="{'active2':isLogin,'btn2_disable':!isLogin}">注册</div>
 

            
         </div>
    </body>
</html>

<script src="js/vue2.js"></script>
<script src="js/vue-resource1.3.js"></script>
<script src="js/ydui.js"></script>
<script src="js/ydui.flexible.js"></script>
<script src="js/common.js"></script>
<script>
  

var FILE = "data/main.json"
var call = Vue.http({method:'GET', url:FILE });

call.then(function (data) {
    console.log(data.body);
    var vm = new Vue({
      mixins: [mixin_common],
      el: '#app',
      mounted: function() {
        
      },

      methods:{
        check_phone:function () {
                if ((/^1[34578]\d{9}$/.test(this.phone))) {
                console.log(this.phone);
                this.isPhone = true;
            }else {
                this.isPhone = false;
            }
        },
        sendCode1:function () {
            /*this.$dialog.loading.open('发送中...');*/
            setTimeout(() => {
                    this.isPhone = false; //去掉验证码点亮样式
                    this.start1 = true; //开始倒计时
                    // this.$dialog.loading.close();

                    this.$dialog.toast({
                        mes: '已发送',
                        icon: 'success',
                        timeout: 1000
                    });

                }, 500);

            // 在该组件上，自己在时间倒计时结束后，关闭两个开关
            setTimeout(() => {
                    this.isPhone = true; 
                }, 5500);
        },
        check_passWord2:function () {
            if (this.isPhone&&this.passcode.length==6&&this.passWord1==this.passWord2&&this.passWord1.length>=6&&this.passWord2.length>=6) {
                console.log(this.isPhone);
                console.log(this.passcode==6);
                console.log(this.passWord1==this.passWord2);
                this.isLogin = true
            } else {
                this.isLogin = false
            }
        }
        
      },
      data: {
        my:data.body,
        start1: false, //为true开始倒计时功能
        isPhone:false,  //手机号输入正确后，验证码点亮
        isLogin: false, //登录按钮点亮开关
        phone:"",  
        passcode:"",  
        passWord1:"",  
        passWord2:"",  
        
        
      }
    });
});




</script>