<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>美嘉优购</title>
    <link rel="stylesheet" href="css/ydui.base.css">
    <link rel="stylesheet" href="css/ydui.rem.css">
    <link rel="stylesheet" href="css/common.css">
  </head>
    <body id="shop">
        <div id="app" v-cloak > 
            <div class="head2">
                <a href="main.html" class="left">
                    <i class='iconfont icon-prev'></i>返回
                </a>
                <div class="middle">{{my.shop.tit}}</div>
                <div class="right"></div>
            </div>
            <hr style="height: .85rem;">
            <div class="shop_banner">
                <a class="thum" href="#"><img :src="my.shop.thum"></a>
                <div class="cont">
                    <div class="tit">{{my.shop.tit}}</div>
                    <div class="tit_sub">{{my.shop.tit_sub}}</div>
                    <div class="month_sales">
                    <!-- <yd-rate v-model="my.shop.rank" color="#ff9f2e" activeColor="#fe9402" :readonly="true"></yd-rate> -->| 月售{{my.shop.month_sales}}单
                    </div>
                    <div class="transit">{{my.shop.transit}}</div>
                </div>
            </div>

            <div class="wrap_main" style="overflow: hidden;top: 3.35rem;">

                <div class="shop_layout">
                    <ul class="nav_side">
                        <li v-for="(item,index) in my.sort_list" @click="get_json(index,item)" :class="{'active1':index==current}">{{item.tit}}</li>
                    </ul>
                    
                    <div class="right_bar">
                        <div class="banner"><img :src="my.sort_list[current].banner"></div>
                        <ul class="goods_list">
                            <li v-for="(item,index) in my.sku_list">
                                <a :href=" 'sku_detail.html?id='+item.sku_id ">
                                    <div class="pic" :style="{backgroundImage: 'url(' + item.src + ')'}">
                                        <div class="badge">{{item.badge}}</div>
                                    </div>
                                </a> 
                                <div class="cont">
                                    <div class="tit">{{item.tit}}</div>
                                    <div class="bar">
                                        <div class="price"><big>￥{{item.present_price}}</big><small>￥{{item.original_price}}</small></div>
                                        <div class="panel">
                                            <div class="cir left" @click="reduce_count(item)" :class="{active2:item.count<1}"><i class='iconfont icon-jianhao cc'></i></div>
                                            <div class="middle" :class="{active2:item.count<1}" v-if="item.count>=1">{{item.count}}</div>
                                            <div class="cir right" @click="add_count(item)"><i class='iconfont icon-jiahao cc c1'></i></div>
                                        </div>
                                    </div>
                                </div>                           
                            </li>
                        </ul>
                        <yd-infinitescroll :on-infinite="loadList" ref="infinitescrollDemo">
                            <span slot="doneTip">已到末尾</span>
                            <img slot="loadingTip" src="images/loading10.svg"/>
                        </yd-infinitescroll>
                    </div>
                </div>
            </div>
            
            <footer class="shop_foot">
                <a href="#" class="left c3">
                    <i class="iconfont icon-gouwuche2 c3">
                        <div class="num" v-if="my.all_count>0">{{my.all_count}}</div>
                    </i>购物车
                    
                </a>
                <a href="#" class="right c1"><i class="iconfont icon-closeaccount c1"></i>去结算</a>
            </footer>
         </div>

         <div class="fly_ball"></div>
    </body>
</html>

<script src="js/vue2.js"></script>
<script src="js/vue-resource1.3.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/ydui.js"></script>
<script src="js/ydui.flexible.js"></script>
<script src="js/common.js"></script>
<script>


var FILE = "data/shop.json"  //本页基础渲染json
var call = Vue.http({method:'GET', url:FILE });

call.then(function (data) {
    var vm = new Vue({
      mixins: [mixin_common],
      el: '#app',
      mounted: function() {
            // 载入时给每件商品添加一个 购买的数字变量
            this.add_obj(this.my.sku_list);
            // 给购物车 添加一个总数变量
            Vue.set(this.my,"all_count",null);

            this.cart_ico.y = document.querySelector(".icon-gouwuche2").offsetParent.offsetTop + document.querySelector(".icon-gouwuche2").offsetTop-2;
            this.cart_ico.x = document.querySelector(".icon-gouwuche2").offsetParent.offsetLeft + document.querySelector(".icon-gouwuche2").offsetLeft+4;

      },

      computed:function () {
          /*all_count:function () {
              
          }*/
      },

      methods:{
        add_obj:function (arr) {// 给每件商品添加一个 购买的数字变量
            for (var i = 0; i < arr.length; i++) {
                Vue.set(arr[i],"count",null);
            };
        },
        
        get_json:function (index,item) {
            //将当前点击的sort_id赋值给current_sort_id
            this.current_sort_id = item.sort_id;
            // 将当前点击的index赋值给current
            this.current= index;
            // 将page 重置为1
            this.page = 1;
            // 请求当前id号,并且page=0的json
            this.$http.get(this.json_nav_side+"?id="+item.sort_id+"&page=0").then(function (e) {
                this.my.sku_list = e.body.sku_list;

                // 点击切换后重新给每件商品添加一个 购买的数字变量
                this.add_obj(this.my.sku_list);
            })
        },
        // 滚动加载
        loadList:function() {// 请求当前id号,并且page从1开始的json
            this.$http.get(this.json_nav_side+"?id="+this.current_sort_id+"&page="+this.page)
            .then(function (e) {
                // 滚动加载刷新后重新给每件商品添加一个 购买的数字变量
                this.add_obj(e.body.sku_list);
                // 将已添加count属性的新数组 与 原数组组合    
                this.my.sku_list = this.my.sku_list.concat(e.body.sku_list);

                if (e.body.flag_end) {
                    console.log("已到末尾!");
                    this.$refs.infinitescrollDemo.$emit('ydui.infinitescroll.loadedDone');
                    return;
                }

                this.$refs.infinitescrollDemo.$emit('ydui.infinitescroll.finishLoad');
                this.page++;
            });
        },

        //购物车增加按钮
        add_count:function (e) {
            //当前商品数量+1
            e.count++;
            //购物车所有商品总数量+1
            

            var _this = this;

            var cartX = _this.cart_ico.x;
            var cartY = _this.cart_ico.y;

            var currentX = event.target.getBoundingClientRect().left;
            var currentY = event.target.getBoundingClientRect().top;

            var middleX = (currentX - cartX)*0.3 + cartX;
            var middleY = (-currentY + cartY)*0.3 + currentY;

            TweenMax.to(".fly_ball",0, {alpha:1});
            TweenMax.fromTo(".fly_ball", 0.8, 
                {scale:1,left:event.target.getBoundingClientRect().left, top:event.target.getBoundingClientRect().top},
                {scale:0.7,bezier:[{left:middleX, top:middleY}, {left:_this.cart_ico.x, top:_this.cart_ico.y}], ease:Cubic.easeOut,onComplete:function () {
                    _this.my.all_count++;
                    TweenMax.to(".fly_ball",0, {alpha:0});
                    TweenMax.to(".icon-gouwuche2",0.1, {scale:1.3,repeat:1,yoyo:true});
            }});
        },
        //购物车减少按钮
        reduce_count:function (e) {
            if (e.count>=1) {//当前购物车数量>0,点击-1,购物车总数量也-1
                e.count--;
                this.my.all_count--;
                this.shop_active_traslate = false;
            } else {//当前购物车数量<0,激活trslate开关
                this.shop_active_traslate = true;
            };
        },
      },
      data: {
        current:0,
        current_sort_id:0,
        page:1,
        shop_active_traslate:false,  //购物车减 按钮小于0时动画开关
        cart_ico:{x:0,y:0},
        my:data.body,
        json_nav_side:"data/sku_list.json" // 点击侧边导航时读取的json前缀
      }
    });
});

    
</script>